@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  @apply bg-gray-50;
}

.ant-btn-primary{
    background-color: #1677ff;
  }

.anticon{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  body{
    overflow: hidden;
   
  }

  .categories::-webkit-scrollbar {
    display: none;
  }


}